@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
:root {
    --fonte-titulo: 'Passion One', Tahoma, sans-serif;
    --fomt-sub-titulo: Verdana, Tahoma, sans-serif;
    --font-text:'Sriracha', Verdana, Tahoma, sans-serif;
}
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}
h1 {
    font-family: var(--fonte-titulo);
    font-size: 6vw;
    font-weight: bold;
    font-variant: small-caps slashed-zero;
}
header > p {
    font-family: var(--fomt-sub-titulo);
}
body {
    background-color: #000;
}
section > p {
    font-size: 3.5vw;
    font-weight: normal;
    font-family: var(--font-text);
    font-variant: no-common-ligatures proportional-nums;
    padding-left: 40px;
}
div > p {
    font-size: 3.5vw;
    font-weight: normal;
    font-family: var(--font-text);
    font-variant: no-common-ligatures proportional-nums;
    padding-left: 40px;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
#t1 {
    background-color: #fff;
    position: relative;
    padding-top: 10vw;
    padding-bottom: 10vw;
}
#t2 {
    background-image: url(../img/background001.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10vw;
    padding-bottom: 10vw;
    
}
#t3 {
    background-color: #fff; 
    padding-top: 10vw;
    padding-bottom: 10vw;
}
#t4 {
    background: #000 url(../img/background002.jpg) left center no-repeat fixed;
    padding-top: 10vw;
    padding-bottom: 10vw;
}
div {
    display: block;
    background-color: rgba(0, 0, 0, 0.300);
    max-width: 50vw;
}
#t5 {
    background-color: #fff;
    padding-top: 10vw;
    padding-bottom: 10vw;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: var(--fomt-sub-titulo);
}