body {
    background-image: url(imagens/wallpaper001.jpg);
}
.square {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}
#s1 {
background-color: aqua;
}
#s2 {
    background-image: linear-gradient(to bottom, yellow, orange, red);
}

#s3 {
background-image: url("imagens/pattern003.png");
}
#s4 {
    background-image: url("imagens/baixado.jpg");
    }
